:root {
	--color-bg: #000000FF;
	--color-nota: #FF9984CC;
	--color-boton: #FF1B5DBF;
	--color-boton-activo: #B51B47BF;
	--color-logo-brillo: #FF2D95;
	--color-sup-font: #72083B;
	--color-sup-background: #FFFFFF;
}

@font-face {
  font-family: 'widges';
  src: url('widges.ttf');
  src: url('widges.ttf') format('truetype');
}

html {
	height: 100%;
}

body {
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,1) 100%), url('img/fondo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	background-color: var(--color-boton-activo);
}

.logo-txt {
	font-family: widges;
	font-size: 32px;
	padding: 10px 10px 10px 0px;
	vertical-align: middle;
	color: #d8d8d8;
}

.logo-animation {
	animation-duration: 3s;
	animation-name: logo;
	animation-iteration-count: infinite;
}

@keyframes logo {
	0% {
		color: #d8d8d8;
		text-shadow: 0;
	}
	40% {
		color: white;
		text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--color-logo-brillo) 0px 0px 20px, var(--color-logo-brillo) 0px 0px 30px, var(--color-logo-brillo) 0px 0px 40px, var(--color-logo-brillo) 0px 0px 50px, var(--color-logo-brillo) 0px 0px 75px;
	}
	60% {
		color: white;
		text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--color-logo-brillo) 0px 0px 20px, var(--color-logo-brillo) 0px 0px 30px, var(--color-logo-brillo) 0px 0px 40px, var(--color-logo-brillo) 0px 0px 50px, var(--color-logo-brillo) 0px 0px 75px;
	}
	100% {
		color: #d8d8d8;
		text-shadow: 0;
	}
}

.logo-img {
	height: 40px;
	margin-top: -5px;
}

.live {
	font-size: 12px;
	font-family: Karla;
	margin-left: 0.2vh;
}

.cargando {
	color: #bfbfbf;
	font-weight: bold;
}

.texto-online {
	color: #f2ffd4;
	font-weight: bold;
}

.punto-online {
	animation-duration: 1s;
	animation-name: slidein;
  	animation-iteration-count: infinite;
	width: 8px;
	height: 8px;
	border-radius: 2em;
	margin: 5px 4px 0px -2px;
}

.texto-offline {
	color: #bfbfbf;
	font-weight: bold;
}

.punto-offline {
	width: 8px;
	height: 8px;
	border-radius: 2em;
	background: #bfbfbf;
	margin: 5px 4px 0px -2px;
}

@keyframes slidein {
	20% {
		background: rgba(255,0,0,0);
	}
	80% {
		background: rgba(255,0,0,1);
	}
	100% {
		background: rgba(255,0,0,0);
	}
}

.banner {
	width: 100%;
	height: 70px;
	margin: 0.7vh 2vw 10px 0.5vw;
	padding: 10px 0px;
}
@media (max-width: 992px) {
	.banner {
		margin: 0.7vh 2vw 10px 0.5vw;
	}
}
@media (max-width: 768px) {
	.banner {
		margin: 0.7vh 1vw 10px 0.5vw;
	}
}
@media (max-width: 600px) {
	.banner {
		margin: 0.7vh 0vw 10px 0.5vw;
	}
}

.counters {
	font-family: consolas;
}

.nota {
	font-size: 12px;
	font-family: Karla;
	background-color: var(--color-nota);
	width: 100%;
	margin: 5px 2.5vh 0.7vh 2.5vh;
	padding: 7px 12px;
	color: #ffffff;
}

.stats {
	font-weight: bold;
	font-size: 14px;
	font-family: Karla;
	text-align: center;
	width: 100%;
	height: 35px;
	background-color: var(--color-boton);
	margin: 0.7vh auto;
	padding: 7px 5px;
	color: white;
}

.boton {
	font-size: 20px;
	font-family: Karla;
	width: 100%;
	height: 60px;
	background-color: var(--color-boton); /*#264033*/
	margin: 0.7vh 2.5vh;
	padding: 10px 10px;
	color: white;
}

.icon {
	width: 40px;
	margin-right: 10px;
}

.sup {
	color: var(--color-sup-font);
	font-weight: bold;
	font-family: Karla;
	margin: 0px 5px;
	font-size: 10px;
	background-color: var(--color-sup-background);
	width: 100%;
	border-radius: 3px;
	padding: 1px 2px;
}

.boton-last-video {
	font-size: 20px;
	font-family: Karla;
	width: 100%;
	min-height: 75px;
	background-color: #00332aBF;
	margin: 0.7vh 4vw;
	padding: 15px 15px;
	color: white;
}

.modal-destacados {
	background-color: #091013; /*#264033*/
	padding: 15px;
	font-family: Karla;
	color: white;
	overflow: auto;
	padding: 15px 15px 5px 15px;
}

.modal .modal-content{
	overflow: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.modal-colecciones {
	background-color: rgba(0,0,0,0.8);
}

.footer {
	font-size: 12px;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.38) 24%, rgba(0,0,0,1) 100%);
}

.footer a {
	font-weight: bold;
}